@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #1d13a5; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    position: fixed;
    top: 55%;
    left: 62%;
    margin-top: -100px;
    margin-left: -100px;
  }
  .spinner-container{
    width: 20%;
    height: 20%;
    position: fixed;
    top: 45%;
    left: 59%;
    margin-top: -100px;
    margin-left: -100px;
  }
